body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2rem;
    text-align: center;
}

.course-list {
    display: flex;
    justify-content: space-around;
}

.course-item {
    border: 1px solid #ddd;
    padding: 1rem;
    width: 30%;
}


footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social-links {
    margin-bottom: 20px;
}

.social-links a {
    margin-right: 10px;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    margin-bottom: 10px;
}
